
<div class="legendCont">
    <div data-augmented-ui="tl-2-clip-x t-clip-x tr-2-clip-x r-clip-y br-2-clip-y b-clip-x bl-2-clip-y l-clip-y both" class="legend">
        <h3 class="margt">Legend</h3>
        <ul class="legendList">
            <li class="listElement">L - Teal - Interface</li>
            <li class="listElement">L - Green - Class</li>
            <li class="listElement">L - Yellow - Abstract Class</li>
            <li class="listElement">Orange - Extends</li>
            <li class="listElement">Red - Implemenets</li>
            <li class="listElement">S - Pink - No Null Values</li>
            <li class="listElement">S - Yellow - Many Null Values</li>
            <li class="listElement">S - Purple - One Null Value</li>
            <li class="listElement">S - Medium Blue - Not Thread Safe</li>
            <li class="listElement">S - Dark Blue - Thread Safe</li>
           
        </ul>
    </div>
</div>

